<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.roughriders.jf.eta">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".helpers.ApplicationEx"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- API Key for release -->
            <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCLZJ4HjXNi4QqOq1g9R0cgMCMD1g1c5Is"/>

        <!-- API Key for debugging (laptop) -->
        <!--
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAD9XkkUbtIyOdTe5-J1Och5ne3deHU5fw" />
        -->

        <!-- API Key for debugging (desktop) -->
        <!--
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCWsaloybxe1BiEl_E_1WEbvg_RQvPZSc0" />
        -->

        <service
            android:name=".services.DistanceNotificationService"
            android:exported="false" />

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.TripActivity"
            android:theme="@style/FullscreenActivityTheme" />

        <activity
            android:name=".activities.PreparationActivity"
            android:theme="@style/FullscreenActivityTheme"/>

        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.roughriders.jf.eta.activities.MainActivity" />
        </activity>

    </application>

</manifest>